.loginSignup {
  width: 100%;
  height: 80vh;
  background: black;
  color: goldenrod;
}

.container {
  width: 580px;
  height: 600px;
  text-align: center;
  background: black;
  color: goldenrod;
  margin: auto;
}

.container h1 {
  padding-top: 30px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.fields input {
  height: 60px;
  width: 100%;
  border: 1px solid goldenrod;
  outline: none;
  color: black;
  font-size: 18px;
}

.container button {
  width: 80%;
  height: 60px;
  color: black;
  background: goldenrod;
  margin-top: 30px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.login {
  margin-top: 20px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.login span {
  color: red;
  font-weight: 600;
}
.agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  color: darkgoldenrod;
  font-size: 15px;
  font-weight: 500;
}
